<!DOCTYPE html>
<html>

<head>
    <title>Life sim!</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>
    <div class='switchBtn' onclick='window.location.assign("oldIndex.html")'>&leftarrow; Old Version!</div>
    <div class='frontin offset-md-3'>
        <div class='panel panel-success col-md-6' style='padding:2px;left:20%;max-height:95%;' ng-app='pickerApp' ng-controller='pik-cont' ng-show='pikActive'>
            <div class='panel-heading center'>
                <h2>Customize Your Ecosystem</h2>
            </div>
            <div class='panel-body' style='max-height: 80vh;overflow-y:scroll;'>
                <h4>Organism Statistics</h4>
                <table class='table table-striped'>
                    <thead>
                        <tr>
                            <th>Icon</th>
                            <th>Name</th>
                            <th>Gestation Time (days)</th>
                            <th>Time to Sexual Maturity (weeks)</th>
                            <th>Type</th>
                            <th>Eats</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='o in orgs'>
                            <td style='font-size:x-large'>{{o.img}}</td>
                            <td>{{o.name}}</td>
                            <td>{{o.gestation}}</td>
                            <td>{{o.timeToMature}}</td>
                            <td>{{o.type|typeViewer}}</td>
                            <td style='cursor:pointer;' ng-click='o.active?o.active=false:o.active=true;'>{{o.active==false?'Click to Toggle':''}}
                            <table ng-show='o.active==true && o.eats!="prod"'>
                                <tr ng-repeat='food in o.eats track by $index'>
                                    <td>{{food}}</td>
                                </tr>
                            </table>
                            <span ng-show='o.active && o.eats=="prod"'>(This organism is a primary producer)</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id='cont'>
        <div class='box-part' id='b-left'></div>
        <div class='box-part' id='b-right'></div>
        <div class='box-part' id='b-top'></div>
        <div class='box-part' id='b-back'>
            <div id='cyl'></div>
        </div>
        <div class='box-part' id='b-bottom'>
            <!-- <div id='cylShad'></div>    -->
        </div>
    </div>
    <div id='mouseTarg'>
    </div>
    <div id='field' class='fld'>
    </div>
    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="./js/main.min.js"></script>
</body>

</html>
